.main {
    background-color: rgb(231, 236, 241);
}

.app {
    background-color: rgb(129, 122, 122);
    min-height: 100vh !important;
    width: auto;
}

.banner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 500px;
    /* background-image: url('../assets/images/fb.jpg'); */
    background-repeat: round !important;
    /* background-position: bottom !important; */
    /* object-fit: contain;
    object-position: center; */
}

.post {
    background-color: rgb(25, 16, 58);
    border-radius: 10px;
}

.post textarea {
    border: none;
}

.post textarea:focus {
    box-shadow: none;
    border: none;
}